<!DOCTYPE html>
<html>

<head>
    <title>Layouts</title>
    <body>
    <h1>Blockelement(div)</h1>
    <strong>Below is definition of Div element:</strong>
    <div style="background-color: pink;">
        Div element in html is a block-level container used to group and structure the content.It creates a new line
        before and after the element, allowing for layout and styling of sections and group of elements. It is commonly
        used for creating sections, containers and applying styles.
    </div>
    Division Area
    <hr>
    <h1>Inline element(span)</h1>
    <strong>Below is definition of span element:</strong>
    <span style="background-color: aqua;">
        Span element in html is a <b>in-line level container</b> used to group and style text or oter inline lementswithout
        affecting layout.
        <em>It does not allow the new line but allows you to apply styles to parts of the content.</em>
        Span element is an example of inline container
    </span>
    Span Area
    </body>
</head>

</html>